/node_modules

*.js
*.js.map


dist/


*.tmp
*.bak


.vscode/
.idea/


tsconfig.json
tsconfig.*.json


.eslintrc
.eslintignore


.prettierrc
.prettierignore


*.log
logs/


package-lock.json


yarn.lock


.env
.env.*